
* {
    font-family: "Cedarville Cursive", cursive;
    font-weight: normal;
    font-size: 50px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
    background-image: url('../img/paper.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
    margin: 0; 
}

.text-container {
    text-align: center;
}

.beautiful,
.tragic {
    opacity: 0; 
    transition: opacity 0.5s ease;
}


.so-hover{   
    color: rgb(117, 105, 13);
}


.so-hover:hover{   
    color: rgb(86, 105, 207);
}

.so-hover2{   
    color: rgb(85, 195, 162);
}


.so-hover2:hover{   
    color: rgb(194, 70, 9);
}

.beautiful {
    color: #a229cb;
}

.tragic {
    color: #721907;
}

.magic {
    color: rgb(70, 105, 203); /* 링크 색상 설정 (원하는 색으로 변경 가능) */
    text-decoration: underline; /* 밑줄 추가 */
    cursor: pointer; /* 마우스 커서 변경 */
    transition: color 0.3s ease; /* 색상 변화 애니메이션 */
    text-decoration: none;
}

.magic:hover {
    color: rgb(238, 179, 43); /* hover 시 색상 변경 (원하는 색으로 변경 가능) */
}


.so-hover:hover + .beautiful {
    opacity: 1; 
}

.so-hover2:hover + .tragic {
    opacity: 1; 
}


.typing-effect {
    overflow: hidden; 
    white-space: nowrap; 
    border-right: 3px solid transparent; 
    animation: typing 3.5s steps(15, end), blink-caret 0.75s step-end infinite; 
}


@keyframes typing {
    from {
        width: 0; 
    }
    to {
        width: 100%; 
}
}


@keyframes blink-caret {
    from, to {
        border-color: transparent; 
    }
    50% {
        border-color: black; 
    }
}


.cursor {
    display: inline; 
    margin-left: 5px; }


.fade-out {
    opacity: 0;
    transition: opacity 1.5s ease;
}


.fade-in {
    opacity: 1;
    transition: opacity 1s ease; 
    display: block; 
}


.fade-in-sentence {
    opacity: 0; 
    transition: opacity 1s ease; 
}


#third-sentence.fade-in .fade-in-sentence {
    opacity: 1; 
}
