body {
    background: linear-gradient(to bottom, #A3C1DA, #FFFFFF); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    display: block;
}

.container {
    font-family: "Permanent Marker", cursive;
    text-align: center;
    color: #FFFFFF;
}

#for {
    font-size: 50px;
    animation: slide-up 1s forwards; 
    animation-delay: 0.5s;
    margin-top: 100px;
}

#live {
    font-size: 200px;
    transition: transform 0.3s ease; 
}

#live:hover {
    color: rgb(108, 196, 139);
    animation: heartbeat 0.8s infinite; 
}

.long {
    font-size: 50px;
    animation: scale-up 1s forwards; 
    animation-delay: 2s;
    opacity: 0; 
}

.lg {
    text-decoration: none;
    color: rgb(250, 228, 57);
}

.lg:hover {
    color: rgb(218, 105, 105);
}

#love {
    font-size: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s ease; 
}

#love:hover {
    transform: scale(1.1) translateY(-10px); 
    color: palevioletred;
}

@keyframes scale-up {
    0% {
        transform: scale(0); 
        opacity: 0; 
    }
    50% {
        transform: scale(1.2); 
        opacity: 1; 
    }
    100% {
        transform: scale(1); 
        opacity: 1;
    }
}



@keyframes heartbeat {
    0%, 100% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.1); 
    }
}

@keyframes slide-up {
    0% {
        opacity: 0; 
        transform: translateY(30px); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0);
    }
}
